
.group27{
/* Group 27 */

position: absolute;
width: 1442px;
height: 105px;
left: 0px;
top: 0px;
}


.checkout{
/* Check Out */

position: absolute;
width: 97px;
height: 27px;
left: 72px;
top: 135px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;

color: #E31D27;
}

.rec32{
/* Rectangle 32 */

position: absolute;
width: 645px;
height: 50px;
left: 64px;
top: 186px;

background: #FFF6F6;
border-radius: 5px;
}

.shipping{
/* Shipping Address */

position: absolute;
width: 178px;
height: 27px;
left: 84px;
top: 177px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 27px;

color: #020202;
}

.rec66{
/* Rectangle 66 */

position: absolute;
width: 645px;
height: 50px;
left: 733px;
top: 186px;

background: #FFF6F6;
border-radius: 5px;
}

.payment{
/* Payment */

position: absolute;
width: 93px;
height: 27px;
left: 755px;
top: 197px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 27px;

color: #020202;
}

.ellipse12{
/* Ellipse 12 */

box-sizing: border-box;

position: absolute;
width: 22px;
height: 22px;
left: 80px;
top: 295px;

border: 1px solid #000000;
}

.ellipse13{
/* Ellipse 13 */

box-sizing: border-box;

position: absolute;
width: 22px;
height: 22px;
left: 80px;
top: 397px;

border: 1px solid #000000;
}

.ellipse121{
/* Ellipse 121 */

box-sizing: border-box;

position: absolute;
width: 22px;
height: 22px;
left: 80px;
top: 295px;

border: 1px solid #000000;
}

.ellipse131{
/* Ellipse 131 */

box-sizing: border-box;

position: absolute;
width: 22px;
height: 22px;
left: 80px;
top: 397px;

border: 1px solid #000000;
}

.company, .email {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000; /* Changed to black for non-label text */
}

.company {
    position: absolute;
    width: 300px;
    height: 81px;
    left: 100px;
    top: 266px;
}

.email {
    position: absolute;
    width: 500px;
    height: 81px;
    left: 337px;
    top: 266px;
}

.label {
    color: #E31D27; /* Red color for labels */
    font-weight: 700; /* Making labels bold for emphasis */
}

/* Ensure pre tags don't affect the styling */
.company pre, .email pre {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    white-space: pre-wrap; /* To ensure long lines wrap */
}

.company2, .email2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000; /* Changed to black for non-label text */
}

.company2 {
    position: absolute;
    width: 300px;
    height: 81px;
    left: 100px;
    top: 368px;
}

.email2 {
    position: absolute;
    width: 500px;
    height: 81px;
    left: 337px;
    top: 368px;
}

.label {
    color: #E31D27; /* Red color for labels */
    font-weight: 700; /* Making labels bold for emphasis */
}

/* Ensure pre tags don't affect the styling */
.company2 pre, .email2 pre {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    white-space: pre-wrap; /* To ensure long lines wrap */
}

.smol{
/* If paying by credit card, please enter the information below, otherwise press Proceed. */

position: absolute;
width: 815px;
height: 20px;
left: 733px;
top: 251px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;

color: #000000;
}

.payment{
/* Payment Method */

position: absolute;
width: 161px;
height: 27px;
left: 733px;
top: 421px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;

color: #000000;
}

.expirydate{
/* Expiry Date */

position: absolute;
width: 107px;
height: 27px;
left: 733px;
top: 485px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;

color: #000000;
}

.cvvnumber{
/* CVV Number */

position: absolute;
width: 120px;
height: 27px;
left: 733px;
top: 547px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;

color: #000000;
}

.rec63{
/* Rectangle 63 */

box-sizing: border-box;

position: absolute;
width: 455px;
height: 45px;
left: 923px;
top: 305px;

border: 0.5px solid #717171;
border-radius: 5px;
}

.rec64{
/* Rectangle 64 */

box-sizing: border-box;

position: absolute;
width: 220px;
height: 45px;
left: 923px;
top: 496px;

border: 0.5px solid #717171;
border-radius: 5px;
}

.rec67{
/* Rectangle 67 */

box-sizing: border-box;

position: absolute;
width: 218px;
height: 45px;
left: 923px;
top: 558px;

border: 0.5px solid #717171;
border-radius: 5px;
}

.rec65{
/* Rectangle 65 */

box-sizing: border-box;

position: absolute;
width: 218px;
height: 45px;
left: 1160px;
top: 496px;

border: 0.5px solid #717171;
border-radius: 5px;
}

.select{
/* Select Payment Method */

position: absolute;
width: 166px;
height: 20px;
left: 934px;
top: 429px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;

color: #000000;
}

.jan{
/* January 1 */

position: absolute;
width: 66px;
height: 20px;
left: 934px;
top: 495px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;

color: #000000;
}

.n2023{
/* 2023 */

position: absolute;
width: 35px;
height: 20px;
left: 1168px;
top: 495px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;

color: #000000;
}

.arrow2{
/* arrow 2 */

position: absolute;
width: 29px;
height: 29px;
left: 1342px;
top: 440px;
}

.arrow3{
/* arrow 3 */

position: absolute;
width: 29px;
height: 29px;
left: 1105px;
top: 505px;
}

.arrow4{
/* arrow 4 */

position: absolute;
width: 29px;
height: 29px;
left: 1345px;
top: 505px;
}

.cardholder{
/* Card Holder's Name */

position: absolute;
width: 127px;
height: 54px;
left: 733px;
top: 287px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;

color: #000000;
}

.cardnumber{
/* Card Number */

position: absolute;
width: 127px;
height: 27px;
left: 733px;
top: 364px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;

color: #000000;
}

.rec38{
/* Rectangle 38 */

box-sizing: border-box;

position: absolute;
width: 455px;
height: 45px;
left: 923px;
top: 433px;

border: 0.5px solid #717171;
border-radius: 5px;
}

.rec40{
/* Rectangle 40 */

box-sizing: border-box;

position: absolute;
width: 455px;
height: 45px;
left: 923px;
top: 369px;

border: 0.5px solid #717171;
border-radius: 5px;
}

.mark{
/* Mark Lorem */

position: absolute;
width: 300px;
left: 64.84%;
right: 29.49%;
top: 42.05%;
bottom: 60.16%;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 20px;

color: #000000;
}

.rec60{
/* Rectangle 60 */

position: absolute;
width: 165px;
height: 30px;
left: 544px;
top: 615px;

background: #D9D9D9;
border-radius: 5px;
}

.rec61{
/* Rectangle 61 */

position: absolute;
width: 53px;
height: 30px;
left: 476px;
top: 615px;

background: #D9D9D9;
border-radius: 5px;
}

.addnew{
/* ADD NEW ADDRESS */

position: absolute;
width: 300px;
height: 19px;
left: 390px;
top: 608px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */
text-align: right;
text-transform: uppercase;

color: #000000;
}

.edit{
/* eDIT */

position: absolute;
width: 30px;
height: 19px;
left: 487px;
top: 608px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */
text-align: center;
text-transform: uppercase;

color: #000000;
}

.rec22{
/* Rectangle 22 */

position: absolute;
width: 136px;
height: 30px;
left: 1121px;
top: 615px;

background: #D9D9D9;
border-radius: 5px;
}

.back{
/* Back to cart */

position: absolute;
width: 300px;
height: 19px;
left: 940px;
top: 608px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */
text-align: right;
text-transform: uppercase;

color: #000000;
}

.group52{
/* Group 52 */

position: absolute;
width: 104px;
height: 30px;
left: 1276px;
top: 615px;
}

.group26{
/* Group 26 */

position: absolute;
width: 1442px;
height: 107px;
left: 0px;
top: 712px;
}