* {
    box-sizing: border-box;
}
html {
    margin: 0;    
    padding: 0;   
    display: grid; 
    place-items: center;
}

.container {
    width: 80%;                
    max-width: 1442px;         
    height: 80%;               
    max-height: 1233px;      
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.group27 {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 105px;
    object-fit: cover;
}

.logo1 {
    position: absolute;
    top: 11.43%;
    left: 3.4%;
    right: 72.71%;
    bottom: 11.43%;
}

.Rectangle24 {
    position: absolute;
    top: 33.33%;
    left: 32.99%;
    right: 39.24%;
    bottom: 34.29%;

    background: #FFFFFF;
    border-radius: 100px;
}

.pro {
    position: absolute;
    top: 38.1%;
    left: 66.04%;
    right: 4.21%;
    bottom: 38.1%;

    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.group {
    position: absolute;
    top: 42.86%;
    left: 58.54%;
    right: 40.42%;
    bottom: 42.86%;
}

.search {
    position: absolute;
    top: 40%;
    left: 34.65%;
    right: 61.19%;
    bottom: 41.9%;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;

    color: #BDBDBD;
}

.Rectangle26 {
    position: absolute;
    top: 20.63%;
    left: 4.17%;
    right: 87.36%;
    bottom: 15.87%;

    background: #FFFFFF;
    border-radius: 5px;
}

.Rectangle29 {
    position: absolute;
    top: 17.46%;
    left: 87.22%;
    right: 4.31%;
    bottom: 19.05%;

    background: #E31D27;
    border-radius: 5px;
}

.Rectangle27 {
    position: absolute;
    top: 20.63%;
    left: 14.17%;
    right: 79.03%;
    bottom: 15.87%;

    background: #FFFFFF;
    border-radius: 5px;
}

.Rectangle28 {
    position: absolute;
    top: 20.63%;
    left: 22.5%;
    right: 60.42%;
    bottom: 15.87%;

    background: #FFFFFF;
    border-radius: 5px;
}

.hideprice {
    position: absolute;
    top: 31.75%;
    left: 5.76%;
    right: 88.89%;
    bottom: 28.57%;

    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color: #000000;
}

.mycart {
    position: absolute;
    top: 30.16%;
    left: 88.61%;
    right: 5.35%;
    bottom: 30.16%;

    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;
}

.recent {
    position: absolute;
    top: 31.75%;
    left: 15.76%;
    right: 80.62%;
    bottom: 28.57%;

    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color: #000000;
}

.ship {
    position: absolute;
    top: 31.75%;
    left: 24.1%;
    right: 61.74%;
    bottom: 28.57%;

    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color: #000000;
}

.group29 {
    position: absolute;
    top: 107px;
    left: 0;
    width: 1442px;
    height: 63px;
}

.toolquic {
    position: absolute;
    top: 192px;
    left: 72px;
    width: 221px;
    height: 27px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    color: #E31D27;
}

.quic {
    position: absolute;
    top: 245px;
    left: 72px;
    width: 184px;
    height: 27px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;

    color: #020202;
}

.group31 {
    position: absolute;
    top: 299px;
    left: 72px;
    width: 422.22px;
    height: 737px;
}

.group53 {
    position: absolute;
    top: 299px;
    left: 515px;
    width: 422.22px;
    height: 737px;
}

.group54 {
    position: absolute;
    top: 299px;
    left: 958px;
    width: 422.22px;
    height: 737px;
}

.group26 {
    position: absolute;
    top: 1126px;
    left: 0;
    width: 1442px;
    height: 107px;
}

.group25 {
    position: absolute;
    top: 1163px;
    left: 615.85px;
    width: 209.29px;
    height: 33px;
}

.rec22 {
    position: absolute;
    top: 1070px;
    left: 1185px;
    width: 42px;
    height: 19px;
}

.clear {
    position: absolute;
    top: 1061px;
    left: 1204px;
    width: 42px;
    height: 19px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    text-transform: uppercase;

    color: #000000;
}

.leend {
    position: absolute;
    top: 1175px;
    left: 1184.64px;
    width: 198.27px;
    height: 28px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;

    color: #FFFFFF;
}

