
.group27{
/* Group 27 */

position: absolute;
width: 1442px;
height: 105px;
left: 0px;
top: 0px;
}

.mycart{
/* My Cart */

position: absolute;
width: 73px;
height: 27px;
left: 72px;
top: 135px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;

color: #E31D27;
}

.line1{
/* Ref# Name Qty PK Price Ext Price */

position: absolute;
width: 1198px;
height: 27px;
left: 84px;
top: 180px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
z-index: 2; 
color: #020202;
}

.rec58{
/* Rectangle 58 */
position: absolute;
width: 1315px;
height: 50px;
left: 64px;
top: 187px;
background: #FFF6F6;
border-radius: 5px;
background-image: url("Rectangle 58.png");
z-index: 1;
}
.rec50{

/* Rectangle 50 */

box-sizing: border-box;

position: absolute;
width: 55px;
height: 45px;
left: 705px;
top: 279px;

background: #F0F0F0;
border: 0.5px solid #717171;
border-radius: 5px;
}

.rec62{
/* Rectangle 62 */

box-sizing: border-box;

position: absolute;
width: 55px;
height: 45px;
left: 705px;
top: 353px;

background: #F0F0F0;
border: 0.5px solid #717171;
border-radius: 5px;
}

.group6{
/* Group 6 */

position: absolute;
width: 80px;
height: 65.25px;
left: 72px;
top: 260px;
}

.group54{
/* Group 54 */

position: absolute;
width: 80px;
height: 65.25px;
left: 72px;
top: 340px;
}

.cart1{
/* 103303 Lowrider Twisted Antenna Chrome 2 ea $19.95 $39.90 Remove */

position: absolute;
width: 1276px;
height: 25px;
left: 84px;
top: 270px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* identical to box height */

color: #E31D27;
}

.cart2{
/* 103303 Lowrider Twisted Antenna Chrome 1 ea $19.95 $39.90 Remove */

position: absolute;
width: 1276px;
height: 25px;
left: 84px;
top: 344px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* identical to box height */

color: #E31D27;
}

.total{
/* Total: $70.90 */

position: absolute;
width: 137px;
height: 27px;
left: 1194px;
top: 392px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
z-index: 2;
color: #020202;
}

.rec22{
/* Rectangle 22 */

position: absolute;
width: 136px;
height: 30px;
left: 1031px;
top: 488px;

background: #D9D9D9;
border-radius: 5px;
}

.rec60{
/* Rectangle 60 */

position: absolute;
width: 136px;
height: 30px;
left: 884px;
top: 488px;

background: #D9D9D9;
border-radius: 5px;
}

.rec59{
/* Rectangle 59 */

position: absolute;
width: 1315px;
height: 50px;
left: 64px;
top: 400px;

background: #FFF6F6;
border-radius: 5px;
z-index: 1;
}

.rec61{
/* Rectangle 61 */

position: absolute;
width: 136px;
height: 30px;
left: 737px;
top: 488px;

background: #D9D9D9;
border-radius: 5px;
}

.save{
/* SAVE CHANGES */

position: absolute;
width: 136px;
height: 19px;
left: 1018px;
top: 480px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* identical to box height */
text-align: right;
text-transform: uppercase;

color: #000000;
}

.cancel{
/* CANCEL ORDER */

position: absolute;
width: 136px;
height: 19px;
left: 870px;
top: 480px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;
/* identical to box height */
text-align: right;
text-transform: uppercase;

color: #000000;
}

.print{
/* PRINT ORDER */

position: absolute;
width: 136px;
height: 19px;
left: 736px;
top: 480px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;
/* identical to box height */
text-align: center;
text-transform: uppercase;

color: #000000;
}

.group52{
/* Group 52 */

position: absolute;
width: 199px;
height: 30px;
left: 1178px;
top: 488px;
}

.group53{
/* Group 53 */

position: absolute;
width: 199px;
height: 30px;
left: 527px;
top: 488px;
}

.group26{
/* Group 26 */

position: absolute;
width: 1442px;
height: 107px;
left: 0px;
top: 712px;
}
